<!doctype html>
<html>
<head>
    <title> CV demo on Flask: WebRTC photo capture</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="all">
    <script src="/static/capture.js">
    </script>
</head>
<body>
<div class="contentarea">
    <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
    </div>
    <canvas id="canvas">
    </canvas>
    <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
        <button id="runbutton">Run OpenFace</button>
    </div>
    <p>
        Based on <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos">
        Taking still photos with WebRTC</a> .
    </p>
    <p>
        After submitting the photo, please visit <a href= {{ url_for('rtc_result') }} >this page</a> to check results.
    </p>
</div>
</body>
</html>
